.comment {
	margin-top: 1.5rem;
	display: flex;
	gap: 1rem;
	& img {
		width: 3rem;
		height: 3rem;
		border-radius: 8px;
	}
}

.commentbox {
	flex: 1;
}

.commentContent {
	background: var(--cl-gray-700);
	border-radius: 8px;
	padding: 1rem;
	& header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
.authorAndTime {
	display: flex;
	flex-direction: column;
	& strong {
		display: block;
	}
	& time {
		display: block;
	}
}
